In [33]:
import pymysql
import pandas as pd

connection = pymysql.connect(host = 'localhost', 
                             user = 'root', 
                             password = '1411', 
                             db = 'santander_db')


cursor = connection.cursor()
cursor.execute("USE santander_db;")
query = '''SELECT * FROM clientes_hb'''


df = pd.read_sql(query, connection)

C:\Users\maxig\Desktop\Carpetas\Trabajos en Python\Spark\env-spark\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [34]:
df.head(5)

,USER_ID,SESSION_ID,SEGMENT_ID,SEGMENT_DESCRIPTION,USER_CITY,SERVER_TIME,DEVICE_BROWSER,DEVICE_OS,DEVICE_MOBILE,TIME_SPENT,EVENT_ID,EVENT_DESCRIPTION,CRASH_DETECTION
0,1,1,1,Joven,Lanus,2021-01-01 16:20:01,web,linux,linux,4,3,Login,Sin Error
1,1,1,1,Joven,Lanus,2022-01-01 16:20:01,web,linux,linux,4,1,Consulta,Sin Error
2,1,1,1,Joven,Lanus,2022-02-01 16:20:01,web,linux,linux,5,1,Consulta,Sin Error
3,1,1,1,Joven,Lanus,2022-02-01 16:22:01,web,linux,linux,1,2,Pago,Sin Error
4,2,2,2,Adulto,Caba,2021-01-01 16:20:01,web,linux,linux,4,3,Login,Sin Error

In [35]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [36]:
sc = SparkSession.builder.master('local').appName('ejercicio').getOrCreate()

sqlContext = SQLContext(sc)

query = '''SELECT col.* FROM clientes_hb col
        JOIN(SELECT USER_ID, MIN(SERVER_TIME) AS FIRST_LOGIN FROM clientes_hb GROUP BY USER_ID) 
        tmp ON tmp.USER_ID = col.USER_ID AND tmp.FIRST_LOGIN = col.SERVER_TIME
        ORDER BY SERVER_TIME;'''

df = sc.read.format("jdbc") \
    .option("url","jdbc:mysql://localhost/santander_db") \
    .option("driver","com.mysql.jdbc.Driver") \
    .option("dbtable","clientes_hb") \
    .option("user","<user>") \
    .option("password","<password>") \
    .option("query", query).load()

df.show()

C:\spark\python\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(
C:\spark\python\pyspark\sql\dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [37]:
df.registerTempTable('clientes')

sqlContext.sql('''SELECT col.* FROM clientes col
        JOIN(SELECT USER_ID, MIN(SERVER_TIME) AS FIRST_LOGIN FROM clientes GROUP BY USER_ID) 
        tmp ON tmp.USER_ID = col.USER_ID AND tmp.FIRST_LOGIN = col.SERVER_TIME
        ORDER BY SERVER_TIME;''').show()

+-------+----------+----------+-------------------+---------+-------------------+--------------+---------+-------------+----------+--------+-----------------+---------------+
|USER_ID|SESSION_ID|SEGMENT_ID|SEGMENT_DESCRIPTION|USER_CITY|        SERVER_TIME|DEVICE_BROWSER|DEVICE_OS|DEVICE_MOBILE|TIME_SPENT|EVENT_ID|EVENT_DESCRIPTION|CRASH_DETECTION|
+-------+----------+----------+-------------------+---------+-------------------+--------------+---------+-------------+----------+--------+-----------------+---------------+
|      7|         7|         7|              Joven|     Prov|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      6|         6|         6|             Adulto|     Caba|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      9|         9|         9|              Joven|    Lanus|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      5|         5|         5|              Joven|    Lanus|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      1|         1|         1|              Joven|    Lanus|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|     10|        10|        10|             Adulto|     Caba|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      3|         3|         3|              Joven|     Prov|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|     12|        12|        12|             Adulto|  Palermo|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      8|         8|         8|             Adulto|  Palermo|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|     11|        11|        11|              Joven|     Prov|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      2|         2|         2|             Adulto|     Caba|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|      4|         4|         4|             Adulto|  Palermo|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
|     13|        13|        13|              Joven|    Lanus|2021-01-01 16:20:01|           web|    linux|        linux|         4|       3|            Login|      Sin Error|
+-------+----------+----------+-------------------+---------+-------------------+--------------+---------+-------------+----------+--------+-----------------+---------------+